<h2 id="clientName" data-id="@ViewBag.Client.Id" >@ViewBag.Client.Nome</h2>
<label>Nome:</label>
<input class="textBox" id="textBoxNome" type="text" value="@ViewBag.Client.Nome" />
<label>Endereço:</label>
<input class="textBox" id="textBoxEndereco" type="text" value="@ViewBag.Client.Endereco" />
<label>Cidade:</label>
<input class="textBox" id="textBoxCidade" type="text" value="@ViewBag.Client.Cidade" />
<label>Estado:</label>
<input class="textBox" id="textBoxEstado" type="text" value="@ViewBag.Client.Estado" />
<label>Telefone:</label>
<input class="textBox" id="textBoxTelefone" type="text" value="@ViewBag.Client.Telefone" />
<label>Obs:</label>
<input class="textBox" id="textBoxObs" type="text" value="@ViewBag.Client.Obs" />