

    @foreach(var c in ViewBag.Contact)
    {   
        if(c != null)
        {     
            <h2 id="contactName" data-id="@c.Id" >@c.Nome</h2>
            <label>Id:</label>
            <input name="ClienteBag.Id" class="textBox" id="textBoxId" type="text" value=@c.Id />
            <label>Nome:</label>
            <input name="ContatoBag.Nome" class="textBox" id="textBoxNome" type="text" value="@c.Nome" />
            <label>Telefone:</label>
            <input name="ContatoBag.Telefone" class="textBox" id="textBoxTelefone" type="text" value="@c.Telefone" />
            <label>Email:</label>
            <input name="ContatoBag.Email" class="textBox" id="textBoxEmail" type="text" value="@c.Email" />
            <input type="submit" value="Salvar" />
            <button class="btn btn-danger BtnDeleteContact" data-id="@c.Id">Excluir</button>
            <br />
            <br />
        }
    }